.wpage{
    color: white;
    text-align:center;
    display:block;
    font-family:"DEATHNOTE Font";
    font-size: 34pt;
    width: 40%;
    margin-left:30%;
    margin-right: 30%;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(59, 46, 46, 0.2);
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.8);
}
body { 
    background: url(/images/dnote.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:white;
  
}

.startAdventureLabel{
    background: rgba(0, 0, 0, 0.8);
    width: 50%;
    margin-left:25%;
    margin-right: 25%;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(59, 46, 46, 0.2);
    border-radius: 5px;
    color: white;
    text-align:center;
    display:block;
    font-family:"DEATHNOTE Font";
    font-size: 34pt;
}


.adventurerNameLabel{
    background: rgba(0, 0, 0, 0.8);
    padding-right: 25px;
    font-size: 34pt;
    color:white;
    margin-right:20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(59, 46, 46, 0.2);
    border-radius: 5px;

}



.containerforplayerInfo{
    color: white;
    font-family:"DEATHNOTE Font";
    font-size: 34pt;
    margin-left: 20%;
    margin-top:15%;   
}

.adventurerNameInput{
    color: white;
    font-family:"DEATHNOTE Font";
    font-size: 24pt;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(59, 46, 46, 0.2);
    border-radius: 5px;
    
}

.startQuiz{
    display: block;
    position:relative;
    left:30%;
    background-color: black;
    color: white;
    border-color: black;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

.startQuizbuttonAvailable{
    display: block;
    position:relative;
    left:30%;
    background-color: green;
    color: white;
    border-color: black;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

.registerAdventurer{
    display: block;
    position:relative;
    left:30%;
    margin-top: 10px;
    background-color: black;
    color: white;
    border-color: black;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;

}

.registerAdventurerAvailable{
    display: block;
    position:relative;
    left:30%;
    margin-top: 10px;
    background-color: yellow;
    color: black;
    border-color: black;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;

}


.adventurerInfo{
    background-color: rgb(184, 180, 180);
    height:15%;
    color:rgb(15, 5, 24);
    font-size:20pt;
    font-family: 'Permanent Marker', cursive;
    border-bottom:1px solid  black;
}

.currentAdventurerLabel{
    float: left;
    margin-left: 10px;
}
.currentAdventurerRankLabel{
    margin-left:18%;
}
.currentAdventurerHighscoreLabel{
    float: right;
    margin-right: 10px;
}

.currentAdventurerRankIcon{
    
    height: 100%;
    width: 50px;

}

.adventurerNameCheck{
    height: 53px;
    width: 53px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(59, 46, 46, 0.2);
    border-radius: 5px;
    margin-left: 10px;
}

.quizOptionsContainer{
    text-align: center;
    padding: 15px;
}

.quizOptionsLabel{
    background: rgb(0, 0, 0, 0.8);
    display:block;
    font-size:36pt;
    font-family: 'Permanent Marker', cursive;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.startGameButtonClassic{
    margin: 15px;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
    border-radius:10px;
    border-color: white;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family:"DEATHNOTE Font";
    font-size:36pt;
    background-color: rgb(24, 23, 23);
}

.startGameButtonClassic:hover {
    -webkit-transform: scale(1.15, 1.15);
    transform: scale(1.02, 1.02);
    opacity: 1;
    background-color: black;
    color: green;
  }

.recommendLabel{
    float: right;
    font-family: 'Permanent Marker', cursive;
    font-size: 26pt;
    color:white;
    background-color: rgba(0, 0, 0, 0.7);
    width: 25%;
    margin-right: 3%;
    margin-top: -17%;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(59, 46, 46, 0.2);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.recommendLabel::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    background: rgba(240, 240, 240, 0.65);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .recommendLabel:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
  }
  
  .recommendLabel:hover::after {
    opacity: 1;
  }

.bestAdventurerLabel{
    float: left;
    font-family: 'Permanent Marker', cursive;
    font-size: 26pt;
    color:white;
    background-color: rgba(0, 0, 0, 0.7);
    width: 20%;
    margin-left: 3%;
    margin-top: -17%;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(59, 46, 46, 0.2);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   
}


.bestAdventurerLabel::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    background: rgba(240, 240, 240, 0.55);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .bestAdventurerLabel:hover {
    -webkit-transform: scale(1.45, 1.45);
    transform: scale(1.25, 1.25);
  }
  
  .bestAdventurerLabel:hover::after {
    opacity: 1;
  }



.recommendImage{
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
    border-radius:10px;
    border-color: white;
    color:purple;
    font-family: 'Source Code Pro', monospace;
    font-size:20pt;
    background-color: rgb(24, 23, 23);
    opacity: 0.95;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    height: 35%;
}

.statsButton{
    -moz-border-radius:5px;
	-webkit-border-radius:5px;
    border-radius:5px;
    margin-top: 2%;
    background-color: black;
    font-family: 'Permanent Marker', cursive;
    font-size: 18pt;
    color: white;
    visibility: hidden;
}

.statsButton:hover{
    background-color:blueviolet;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border-color:black;
}


.adventurerStatsContainer{
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
    border-radius:10px;
    border-color: white;
    color:purple;
    font-family: 'Source Code Pro', monospace;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size:20pt;
    background-color: rgb(24, 23, 23);
    opacity: 0.95;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    height: 35%;
}

.adminFieldLabel{
    display: block;
    background: rgba(0, 0, 0, 0.8);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.adventurerFoundLabel{
    margin-top: 8%;
    background: rgba(0, 0, 0, 0.8);
}

.backToSearchButton{
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
    border-radius:10px;
    border-color: black;
    background: rgba(0, 0, 0, 0.8); 
    margin-left: 2%;
    width: 7%;
    height: 5%;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.adminOptionLabel{
    display: block;
    color:white;
    font-size: 18pt;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.adminInputSearch{
    background-color: rgba(0, 0, 0, 0.6);
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    border-radius: 5px;
    color: white;
    margin-top: 8%;
}

.deleteAdventurerButton{
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    color: white;
    margin-top: 8%;
    margin-bottom: 2%;
    border: none;
}

.adminFieldContainer{
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
    border-radius:10px;
    border-color: white;
    color:purple;
    font-family: 'Source Code Pro', monospace;
    font-size:20pt;
    background-color: rgb(24, 23, 23);
    opacity: 0.95;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    height: 35%;
}

.adventurerStatsLabel{
    display: block;
    text-align: center;
}

.questionsStatsLabel{
    display: block;
    text-align: left;
    margin-left: 0.5%;
    margin-top: 2%;
}


.viewRangListButton{
    margin: 15px;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
    border-radius:10px;
    border-color: white;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family:"DEATHNOTE Font";
    font-size:36pt;
    background-color: rgb(24, 23, 23);
}

.viewRangListButton:hover {
    -webkit-transform: scale(1.15, 1.15);
    transform: scale(1.02, 1.02);
    opacity: 1;
    background-color: black;
    color: yellow;
  }

.backToLoginPage{
    margin-top:2%;
    width:10%;
    margin-left:45%;
    margin-right: 45%;
    display: block;
    position:relative;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
    border-radius:10px;
    border-color: white;
    font-family: 'Permanent Marker', cursive;
    font-size:24pt;
    background-color: black;
    opacity: 0.8;
    text-decoration: underline;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.backToLoginPage:hover{
    opacity: 1;
}

.classicGameLabel{
    display: block;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 24pt;
    color: lightblue;
}

.questionsLabelClassic{
    text-align: center;
    font-size: 18pt;
    width: 90%;
    margin-left: 5%;
}

.classicGameQuestionsContainer{
    height: 1.5%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    border: 1px solid;
	-webkit-border-radius:10px;
    border-radius:10px;
    border-color: white;
    background-color: black;
    font-family: 'Permanent Marker', cursive;
    color:black;
    font-size: 20pt;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}


.helpButton{
    float: right;
    width: 3.5%;
    height: 90%;
    margin-right: 0.5%;
    -webkit-border-radius:5px;
    border-radius:5px;
    border: 1px solid black;
    background-color:white;
    margin-top:1px;
}

.helpButton:hover{
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    color:black;
    background-color: black;
    border: 1px solid white;
}

.gameHelpContainer{
    border: 1px solid;
	-webkit-border-radius:10px;
    border-radius:10px;
    border-color: white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    background-color: black;
    padding:20px 20px;
}

.closeHelpButton{
    color: black;
    background-color: black;
    -webkit-border-radius:5px;
    border-radius:5px;
    border: 1px solid white;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: 'Permanent Marker', cursive;
    font-size:14pt;
    width: 6%;
    margin-left: 47%;
    margin-right: 47%;
    margin-bottom: 0.5%;
}

.helpLabel{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size:16pt;
    color: white;
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
    opacity: 0.9;
    text-decoration: underline;
}

.helpText{
    text-align: center;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    background: rgba(0, 0, 0, 0.9);
    font-size: 16pt;
}

.classicGameAnswersContainer{
    border: 1px solid;
	-webkit-border-radius:10px;
    border-radius:10px;
    border-color: white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    background-color: black;
    padding:20px 20px;
}

.abortQuizClassic{
    display: block;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
    border-radius:10px;
    position:relative;
    width: 15%;
    margin-top: 1%;
    margin-left: 42.5%;
    margin-right: 42.5%;
    border-color: white;
    background-color: rgb(24, 23, 23);
    color:red;
    font-family: 'Permanent Marker', cursive;
    font-size: 20pt;
    opacity: 0.6;
}

.abortQuizClassic:hover {
    -webkit-transform: scale(1.65, 1.65);
    transform: scale(1.15, 1.15);
    opacity: 1;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }




.AnswerButton{
    display: block;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
    border-radius:10px;
    border-color: black;
    font-family: 'Permanent Marker', cursive;
    font-size:26pt;
    background-color: grey;
    color: white;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.AnswerButton:hover {
    -webkit-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
  }
  
  .AnswerButton:hover::after {
    opacity: 1;
  }

.yourAnswerLabel{
    padding-left: 0.3%;
    border:1px solid white;
    background-color: black;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
    border-radius:10px;
    margin-top:1%;
    margin-left: 10%;
    width:40%;
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size:20pt;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    opacity: 0.9;
}

.correctAnswerLabel{
    padding-left: 0.3%;
    border:1px solid white;
    background-color: black;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
    border-radius:10px;
    margin-top:1%;
    margin-left: 1%;
    width:39%;
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size:20pt;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    opacity: 0.9;
}

.correctAnswerButton{
    display: none;
}

.nextQuestionButton{
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
    border-radius:10px;
    position:relative;
    width:7%;
    margin-left:42.5%;
    border-color: white;
    background-color: rgb(24, 23, 23);
    color:white;
    font-family: 'Permanent Marker', cursive;
    font-size: 20pt;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nextQuestionButtonCorrect{
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
    border-radius:10px;
    position:relative;
    width:7%;
    margin-left:42.5%;
    border-color: green;
    background-color: rgb(24, 23, 23);
    color:green;
    font-family: 'Permanent Marker', cursive;
    font-size: 20pt;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.nextQuestionButtonWrong{
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
    border-radius:10px;
    width:7%;
    position:relative;
    margin-left:42.5%;
    border-color: red;
    background-color: rgb(24, 23, 23);
    color:red;
    font-family: 'Permanent Marker', cursive;
    font-size: 20pt;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.finishButton{
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
    border-radius:10px;
    position:relative;
    width:7%;
    margin-left: 1%;
    margin-right:42.5%;
    border-color: white;
    background-color: rgb(24, 23, 23);
    color:black;
    font-family: 'Permanent Marker', cursive;
    font-size: 20pt;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.scorePointsLabel{
    padding-left: 1%;
    border:1px solid white;
    background-color: black;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
    border-radius:10px;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size:26pt;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    opacity: 0.9;
}

.classicGameIntroLabel{
    display: block;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size:16pt;
    margin-top: 1%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.classicGameIntroLabel:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
  }

.rangListLabel{
    font-family: 'Permanent Marker', cursive;
    display: block;
    font-size:26pt;
    color: black;
    text-align: center;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.rangListTable{
    border-width:5px; 
    border-color: white;
    border-style: double;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
    background-color: rgb(59, 58, 58);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: 'Permanent Marker', cursive;
    font-size:20pt;
}

.tHead{
    border: 1px ridge white;
    padding: 8px;
    color: black;
    background-color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.tData{
    border: 1px ridge white;
    padding: 8px;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 16pt;
}

.backToAdventurerPageButton{
    display: block;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
    border-radius:10px;
    position:relative;
    margin-left: 37.5%;
    margin-right: 37.5%;
    margin-top: 0.8%;
    width: 25%;
    border-color: white;
    background-color: rgb(24, 23, 23);
    color:red;
    font-family: 'Permanent Marker', cursive;
    font-size: 20pt;
    opacity: 0.7;
}

.backToAdventurerPageButton:hover {
    -webkit-transform: scale(1.65, 1.65);
    transform: scale(1.15, 1.15);
    opacity: 1;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }

.refreshTable{
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
    border-radius:10px;
    position:relative;
    width: 20%;
    margin-top: 0.6%;
    margin-left: 40%;
    margin-right: 40%;
    border-color: white;
    background-color: rgb(24, 23, 23);
    color:black;
    font-family: 'Permanent Marker', cursive;
    font-size: 20pt;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.refreshTable:hover {
    -webkit-transform: scale(1.15, 1.15);
    transform: scale(1.05, 1.05);
    opacity: 1;
    color: green;
  }