﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */ @font-face {font-family:"DEATHNOTE Font";src:url("/deathnote_font/DEATHNOTEFont.eot?") format("eot"),url("/deathnote_font/DEATHNOTEFont.woff") format("woff"),url("/deathnote_font/DEATHNOTEFont.ttf") format("truetype"),url("/deathnote_font/DEATHNOTEFont.svg#DEATHNOTE-Font") format("svg");font-weight:normal;font-style:normal;}
